In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# Zach's webscraping demo
import requests
from bs4 import BeautifulSoup
def parse_news_article(article):
    title = article.h2.text
    date, author = article.select('.italic')[0].find_all('p')
    return {'title':title, 'date':date.text, 'author':author.text}
response = requests.get('https://web-scraping-demo.zgulde.net/news')
soup = BeautifulSoup(response.text)
articles = soup.select('.grid.gap-y-12 > div')
pd.DataFrame([parse_news_article(article) for article in articles])

                      title          date                author
0            any happy into   1997-01-22     By Jennifer Kelly
1         month civil party   1977-04-21    By Nichole Marquez
2         fish measure walk   1985-02-08      By Janice Mccall
3    according economy food   2014-10-16        By Lori Weaver
4    business table brother   2009-05-09    By Robyn Velasquez
5    activity person impact   1978-08-10    By Shelley Johnson
6         view region while   2007-02-09         By Lisa Allen
7     different both suffer   2013-12-03     By Kimberly Huang
8    past tonight determine   1971-12-26    By Noah Williamson
9             enter miss do   1996-12-07   By Michele Castillo
10  beyond require whatever   1992-02-23         By Maria Diaz
11       bed language black   1991-02-06       By Ronald Rojas

In [3]:
# My adjustments to grab contents of articles
import requests
from bs4 import BeautifulSoup
def parse_news_article(article):
    title = article.h2.text
    date, author, contents = article.select('.py-3')[0].find_all('p') # adjusted select, added contents
    return {'title':title, 'date':date.text, 'author':author.text, 'contents':contents.text} # added contents
response = requests.get('https://web-scraping-demo.zgulde.net/news')
soup = BeautifulSoup(response.text)
articles = soup.select('.grid.gap-y-12 > div')
pd.DataFrame([parse_news_article(article) for article in articles])

,title,date,author,contents
0,final east above,1986-01-14,By Cory Hoffman,Employee room my program answer though questio...
1,tax show both,1984-02-15,By Kelly Ochoa,Ever environment subject away step message. Gl...
2,road thus subject,2005-11-13,By Lindsey Rodriguez,Write mouth direction take after economic. Aft...
3,world shake popular,1997-02-05,By Casey Baker,Beat half next account area three building. Cl...
4,Republican turn where,2010-03-07,By Donald Avery,Check smile bag indeed majority successful cha...
5,artist among animal,2020-12-05,By Cory Mendoza,Hard else because modern to deep politics. Lif...
6,service simply current,2004-12-15,By Austin Mckinney,Child truth exist subject ever. Such somebody ...
7,material citizen imagine,1989-09-20,By Christine Browning,Agree describe skin while clear. Often despite...
8,field within practice,1977-11-01,By Sean Rocha,Hope eight north. Catch gun power threat many ...
9,few month support,1973-10-16,By Christopher Bailey,Fast bit pay especially author action their. I...
10,theory interview eye,1980-08-16,By Beth Horton,Year make open language. Say image election ke...
11,government citizen often,2007-05-13,By Tami Herrera DDS,Then return fill wall race. Painting type thir...