In [1]:
import pandas as pd
import re

1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
def is_vowel(string):
    regexp = r'[aeiou]'
    return re.search(regexp, string, re.IGNORECASE) != None

In [3]:
print('a:', is_vowel('a'))
print('b:', is_vowel('b'))
print('A:', is_vowel('A'))

a: True
b: False
A: True

In [4]:
re.search(r'h', 'hello')

2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.


> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
False

> is_valid_username('codeup')
True

> is_valid_username('Codeup')
False

> is_valid_username('codeup123')
True

> is_valid_username('1codeup')
False

In [5]:
def is_valid_username(string):
    regexp = r'^[a-z][_a-z0-9]*$'
    return (re.search(regexp, string) != None) & (len(string) <= 32)

In [6]:
print('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa:', is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'))
print('codeup:', is_valid_username('codeup'))
print('Codeup:', is_valid_username('Codeup'))
print('codeup123:', is_valid_username('codeup123'))
print('1codeup:', is_valid_username('1codeup'))
print('codeup_123:', is_valid_username('codeup_123'))

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa: False
codeup: True
Codeup: False
codeup123: True
1codeup: False
codeup_123: True

3. Write a regular expression to capture phone numbers. It should match all of the following:


> (210) 867 5309

> +1 210.867.5309

> 867-5309

> 210-867-5309

In [7]:
def phone_number(string):
    country = area = exchange = line = ''
    regexp = r'\d+'
    number_list = re.findall(regexp, string)
    line = str(number_list[-1])
    exchange = str(number_list[-2])
    if len(number_list) == 3:
        area = str(number_list[-3])
        return area + '.' + exchange + '.' + line
    if len(number_list) == 4:
        area = str(number_list[-3])
        country = str(number_list[-4])
        return '+' + country + ' ' + area + '.' + exchange + '.' + line
    return exchange + '.' + line

In [8]:
print(phone_number('(210) 867 5309'))
print(phone_number('+1 210.867.5309'))
print(phone_number('867-5309'))
print(phone_number('210-867-5309'))

210.867.5309
+1 210.867.5309
867.5309
210.867.5309

4. Use regular expressions to convert the dates below to the standardized year-month-day format.


> 02/04/19

> 02/05/19

> 02/06/19

> 02/07/19

> 02/08/19

> 02/09/19

> 02/10/19

In [9]:
def ymd(s):
    regexp = r'(\d\d)\D(\d\d)\D(\d\d)'
    return s.str.replace(regexp, r'\3/\2/\1', regex=True)

In [10]:
s = pd.Series(["02/04/19","02/05/19","02/06/19","02/07/19","02/08/19","02/09/19","02/10/19"])
ymd(s)

0    19/04/02
1    19/05/02
2    19/06/02
3    19/07/02
4    19/08/02
5    19/09/02
6    19/10/02
dtype: object

5. Write a regex to extract the various parts of these logfile lines:


> GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58

> POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58

>GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [11]:
def logfile_splitter(string):
    regexp = '^(\S+)\s(\S+)\s\[(\S+)\]\s(\S+)\s\{(\S+)\}\s(\S+)\s"(.+)"\s(\S+)$'
    items = re.findall(regexp, string)[0]
    log_dict = {'cmd':str(items[0]), 'query':str(items[1]), 'date':str(items[2]),
                'version':str(items[3]), 'status':str(items[4]), 'id':str(items[5]),
                'agent':str(items[6]), 'ip':str(items[7])}
    
    return log_dict

In [29]:
loglist = ['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
           'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
           'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58']

df = pd.DataFrame({'cmd':[], 'query':[], 'date':[], 'version':[], 'status':[], 'id':[],
                   'agent':[], 'ip':[]})

dflist = []
for log in loglist:
    dflist.append(logfile_splitter(log))

df = pd.DataFrame(dflist)

In [30]:
df

,cmd,query,date,version,status,id,agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

Bonus Exercise

You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:


- How many words have at least 3 vowels?
- How many words have at least 3 vowels in a row?
- How many words have at least 4 consonants in a row?
- How many words start and end with the same letter?
- How many words start and end with a vowel?
- How many words contain the same letter 3 times in a row?
- What other interesting patterns in words can you find?

In [13]:
words = pd.read_csv('words')
words.head()

       A
0      a
1     aa
2    aal
3  aalii
4    aam

In [25]:
# at least 3 vowels
words.A.str.count(r'[aeiouAEIOU].*[aeiouAEIOU].*[aeiouAEIOU]').sum()

191365.0

In [15]:
# 3 vowels in a row
words.A.str.count(r'[aeiouAEIOU][aeiouAEIOU][aeiouAEIOU]').sum()

6251.0

In [16]:
# 4 consonants in a row
words.A.str.count(r'[^aeiouAEIOU][^aeiouAEIOU][^aeiouAEIOU][^aeiouAEIOU]').sum()

19640.0

In [17]:
# start and end with same letter
(words.A.str[0] == words.A.str[-1]).sum()

9967

In [18]:
# start and end with a vowel
words.A.str.count(r'^[aeiouAEIOU].*[aeiouAEIOU]$').sum()

14657.0

In [26]:
# contain the same letter 3 times in a row
import string
alphabet = list(string.ascii_lowercase)
sum3x = 0
for letter in alphabet:
    sum3x += words.A.str.count(letter * 3).sum()
print(sum3x)

7.0

In [20]:
len(words)

235885